<div class="sitter-search-form-container">
  <p><%= title %></p>

  <div class="sitter-search-form">
    <%= render Molecules::ServiceTypeInputComponent.new(label: title) %>

    <%= render Atoms::AddressInputComponent.new(
      size: :sm,
      label: "Dirección",
      label_icon_url: "address_icon.svg",
      placeholder: "¿Dónde necesitas un cuidador?") %>

    <%= render Atoms::Buttons::SubmitComponent.new(size: :sm, text: "Buscar") %>
  </div>
</div>
