<form class="service_type-form">
  <% service_types = [
    Atoms::RadioInput::ServiceTypeComponent.new(
      label_icon_url: "sitter_home.svg",
      id: "sitter_home",
      label_title: "OO1",
      label_title_short: "O1",
      description: "Un cuidador@ hospeda a tus 娥 en su hogar por el tiempo que necesites."
    ),
    Atoms::RadioInput::ServiceTypeComponent.new(
      label_icon_url: "sitter_pets_kinder.svg",
      id: "sitter_pets_kinder",
      label_title: "Guarder铆a Diaria",
      label_title_short: "Guarder铆a",
      description: "Cuidamos a tus 娥 por horas, todos los d铆as al mes que necesites seg煤n tu rutina."
    ),
    Atoms::RadioInput::ServiceTypeComponent.new(
      label_icon_url: "sitter_home.svg",
      id: "service3",
      label_title: "Opci贸n 3",
      label_title_short: "Op3",
      description: "Informaci贸n adicional para la opci贸n 3"
    ),
    Atoms::RadioInput::ServiceTypeComponent.new(
      label_icon_url: "sitter_pets_kinder.svg",
      id: "service4",
      label_title: "Opci贸n 44",
      label_title_short: "Op44",
      description: "Informaci贸n adicional para la opci贸n 44"
    ),
  ] %>

  <% service_types.each do |service_type| %>
    <%= render service_type %>
  <% end %>

  <% service_types.each do |service_type| %>
    <p class="service_type-info <%= service_type.id %>-info"><%= service_type.description %></p>
  <% end %>
</form>
