<%= link_to products_path do %>
  <h1>Marketplace</h1>
<% end %>

<!-- Lo que traiga del enlace lo tengo que cargar en el turbo_frame modal -->
<%= link_to 'Add Product', new_product_path, data: { turbo_frame: 'modal' } %>
