<%= link_to products_path do %>
  <h1><%= t("application.name") %></h1>
<% end %>

<!-- Lo que traiga del enlace lo tengo que cargar en el turbo_frame modal -->
<%= link_to t("products.new.title"), new_product_path, data: { turbo_frame: 'modal' } %>
<%= link_to t("categories.new.title"), new_category_path %>
