/* Breakpoints */
$_breakpoint-size_1:  22.5rem; // 360 px small phones
$_breakpoint-size_2:    30rem; // 480 px
$_breakpoint-size_3:    41rem; // 656 px
$_breakpoint-size_4:    48rem; // 768 px tablets vertical orientation
$_breakpoint-size_5:    60rem; // 960 px tablets horizontal orientation
$_breakpoint-size_6:    64rem; // 1024 px notebooks
$_breakpoint-size_7: 72.25rem; // 1156 px desktop 1
$_breakpoint-size_8:    80rem; // 1326 px desktop 2
$_breakpoint-size_9:    90rem; // 1440 px

/* Colors */
$_white: #FFF;
$_white-2: #FAFAFA;
$_grey: #E2E7EA;
$_light_purple: #827AB6;
$_dark-purple: #695997;
$_dark-purple-2: #221A3E;
$_dark-grey: #262727;

/* Fonts */
$_fw-regular: 300;
$_fw-normal: 400;
$_fw-medium: 500;
$_fw-semi-bold: 600;
$_fw-bold: 700;
$_fw-extra-bold: 800;

/* Objects */
.flex-icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    flex-grow: 1;
    transition: all 200ms ease;

    &--anchor {
        @media screen and (min-width: $_breakpoint-size_5) {
            display: none;
        }
    }
}

/* Custom Classes */
body {
    margin: 0 auto;
    padding: 0;

    font-family: 'Inter', sans-serif;

    min-height: 51.5rem;
    min-width: $_breakpoint-size_1;
    max-width: $_breakpoint-size_9;
}

.header {
    background-color: $_white-2;
    min-height: 4.5rem;
    min-width: 19.5rem;
    padding: 0 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;

    &-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        img {
            max-height: 1.25rem;
            max-width: none;
        }
    }

    &-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        &__toggle {
            &--open {
                display: block;

                @media screen and (min-width: $_breakpoint-size_4) {
                    display: none;
                }
            }

            &--close {
                display: none;

                @media screen and (min-width: $_breakpoint-size_4) {
                    display: block;
                }
            }
        }

        &__nav {
            display: none;

            @media screen and (min-width: $_breakpoint-size_4) {
                margin: 0;
                padding: 0;

                display: flex;
                flex-direction: row;
                align-items: center;

                list-style: none;

                li {
                    a  {
                        text-decoration: none;
                    }
                }
            }

            &--show {
                margin: 0;
                padding: 0;

                display: flex;
                flex-direction: column;
                align-items: center;

                list-style: none;

                li {
                    a  {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.main {
    min-width: 20rem;

    padding: 0 1.25rem;
    background: url("components/landing/hero.png") center center;
    background-size: cover;

    @media screen and (min-width: $_breakpoint-size_5) {
        padding: 1rem 4.875rem;
        height: 37.5rem;
        max-width: $_breakpoint-size_9;
    }

    &-container {
        max-width: $_breakpoint-size_4;
        min-height: 19.4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;

        padding-top: 4rem;
        padding-bottom: 1.25rem;

        @media screen and (min-width: $_breakpoint-size_5) {
            padding-top: 9.5rem;
        }

        h1 {
            min-width: 14rem;
            max-width: 22rem;
            font-size: 1.75rem;
            font-weight: $_fw-extra-bold;
            color: $_white;

            @media screen and (min-width: $_breakpoint-size_5) {
                max-width: 39rem;
                font-size: 3rem;
                font-weight: $_fw-extra-bold;
            }
        }

        p {
            min-width: 18rem;
            max-width: 29rem;
            font-size: 1rem;
            font-weight: $_fw-medium;
            color: $_white;
        }
    }

    &-content {
        margin: 0 auto;

        @media screen and (min-width: $_breakpoint-size_5) {
            max-width: 71.25rem;
        }
    }
}

.services_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 22.5rem;

    background-color: $_dark-purple;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    &--nav_links {
        @media screen and (min-width: $_breakpoint-size_5) {
            padding-bottom: 2rem;
        }
    }

    @media screen and (min-width: $_breakpoint-size_3) {
        min-width: 22.5rem;
    }

    @media screen and (min-width: $_breakpoint-size_5) {
        border-radius: 2rem;
        position: relative;
        top: -7.5rem;

        min-width: 60rem;
        margin: 0 auto;
    }

    h3 {
        display: none;

        @media screen and (min-width: $_breakpoint-size_5) {
            padding: 2.5rem 1.875rem 0;
            display: block;
            color: $_white;
            font-weight: $_fw-semi-bold;
            font-size: 1.375rem;
            position: initial;
            max-width: 67.5rem;
            margin: 0;
        }
    }

    .inputs_container {
        min-width: $_breakpoint-size_1;
        background-color: $_dark-purple;

        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;

        @media screen and (max-width: $_breakpoint-size_6) {
            min-height: 11rem;
        }

        &-content {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            position: relative;
            top: -1.125rem;
            max-width: 43.5rem;
            margin: 0 auto;

            @media screen and (min-width: $_breakpoint-size_5) {
                position: initial;
            }

            @media screen and (min-width: $_breakpoint-size_6) {
                max-width: $_breakpoint-size_6
            }

            input[type=radio] {
                display: none;
            }

            .service__label {
                box-sizing: border-box;

                text-decoration: none;
                background-color: $_dark-purple;
                transition: all 200ms ease;

                min-height: 1.375rem;
                min-width: 16.125rem;
                max-width: 14.5rem;
                border-radius: 1.25rem;
                outline: 1px solid $_grey;
                margin: 2px;
                padding: 1.375rem;

                cursor: pointer;

                display: flex;
                flex-direction: row;
                align-items: center;

                gap: 0.625rem;
                flex-grow: 1;
                flex-basis: 20%;

                @media screen and (min-width: $_breakpoint-size_5) {
                    max-width: 40rem;
                }

                @media screen and (min-width: $_breakpoint-size_5) {
                    min-width: 14rem;
                    max-width: 16rem;
                }

                .input_title {
                    color: $_grey;
                    flex-grow: 1;

                    @media screen and (min-width: $_breakpoint-size_5) {
                        max-width: 9.5rem;
                    }
                }

                .input_radio {
                    width: 1.5rem;
                    height: 1.5rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: all 200ms ease;

                    @media screen and (min-width: $_breakpoint-size_5) {
                        display: none;
                    }

                    &-outer_circle {
                        width: 1rem;
                        height: 1rem;
                        outline: 1.5px solid $_grey;
                        border-radius: 50%;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &-inner_circle {
                        width: 0.4rem;
                        height: 0.4rem;
                        border-radius: 50%;
                        background-color: $_grey;
                    }
                }

                &--focused {
                    background-color: $_white;

                    &:hover {
                        .flex-icon {
                            filter: invert(39%) sepia(14%) saturate(1516%) hue-rotate(214deg) brightness(92%) contrast(90%);
                        }
                    }

                    .input_title {
                        color: $_dark-purple;
                    }
                }
            }
        }
    }

    .bottom {
        background-color: $_white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: 1.25rem;

        border: 0.125rem $_grey solid;

        align-items: center;
        justify-content: space-between;
        padding: 1.25rem 2.75rem;

        @media screen and (min-width: $_breakpoint-size_3) {
            border-radius: 0.75rem;
        }

        @media screen and (min-width: $_breakpoint-size_5) {
            margin: 1.25rem 0 0;
            max-width: 100%;
            justify-content: space-between;
        }

        p {
            color: $_dark-grey;
            font-weight: $_fw-regular;
            margin: 0;
            padding: 0;

            span {
                display: none;
            }
        }

        button {
            color: $_white;
            background-color: $_light_purple;
            font-size: 1rem;
            font-weight: $_fw-semi-bold;
            padding: 0.625rem 2rem;
            border-radius: 0.375rem;
        }
    }
}

/*
  .service_type-submit_button {
    // drop-shadow x y color transparencia%
    box-shadow: 0.01rem 0.25rem 7.2px #818DAD;
  }
*/

/* Mixins*/
@mixin radio-input_checked() {
    background-color: #fff;
    border: 3px solid #CAC6E1;
    outline: 1px solid #CAC6E1;
    border-radius: 20px;

    .flex-icon {
      filter: invert(39%) sepia(14%) saturate(1516%) hue-rotate(214deg) brightness(92%) contrast(90%);
    }

    .input_title {
      color: $_dark-purple;
    }

    .input_radio {
      &-inner_circle {
        background-color: $_dark-purple;
        outline: 0.5px solid $_dark-purple;
      }

      &-outer_circle {
        border-color: $_dark-purple;
        outline-color: $_dark-purple;
      }
    }

    @content
}

#sitter-home-service__description {
    display: block;
}

#sitter-home-service:checked {
    ~ #sitter-home-service__description {
        display: block;
    }

    + #sitter-home-service__label {
        @include radio-input_checked() {
            .input_title {
                color: $_dark-purple;
            }

            .input_radio {
                &-inner_circle {
                    background-color: $_dark-purple;
                    outline: 0.5px solid $_dark-purple;
                }

                &-outer_circle {
                    border-color: $_dark-purple;
                    outline-color: $_dark-purple;
                }
            }
        }
    }
}

#kinder-service:checked {
    ~ #kinder-service__description {
        display: block;
    }

    + #kinder-service__label {
        @include radio-input_checked()
    }
}

#grooming-service:checked {
    ~ #grooming-service__description {
        display: block;
    }

    + #grooming-service__label {
        @include radio-input_checked()
    }
}

#user-home-service:checked {
    ~ #user-home-service__description {
        display: block;
    }

    + #user-home-service__label {
        @include radio-input_checked()
    }
}
