<a class="service__label service__label--focused" href="<%= href %>">
  <%= image_tag "icons/#{label_icon_url}", class: "flex-icon" %>

  <span class="input_title"><%= label_title %></span>

  <%= image_tag "icons/#{anchor_icon_url}", class: "flex-icon flex-icon--anchor" %>
</a>

